@charset "UTC-8";

html, body {
    height: 100%;

body {
    background-image: linear-gradient(to bottom, rgb(115, 115, 243), rgb(236, 124, 223));
    background-size: cover; /* Faz o gradiente cobrir toda a altura */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

div {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 300px;
    width: 300px;
    box-shadow: 5px 7px 7px 1px rgba(0, 0, 0, 0.467);
}

#id1{
background-color: #7e7af2;
}

#id2 {
    background-color: #E57BDF;
}

#id3 {
    background-color: #251E42;
}

#id4 {
    background-color: #4D7786;
}