@charset "UTC-8";

body{
    background-color: rgb(218, 188, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Estilo para o texto nas páginas específicas */
.pagina03 h2 {
    color: white; /* Define a cor do texto como branco */
}

.pagina03 a {
    color: white;
}

/* Estilo para a página específica */
.pagina03 {
    background-color: rgb(255, 255, 255);
    background-image: url(imagens/redes.socias.jpg);
    background-size: cover; /* Para cobrir todo o espaço disponível */
    background-position: center; /* Para centralizar a imagem */
    background-attachment: fixed;  /* Para fixar a imagem no lugar enquanto você rola a página
    /* Outras propriedades opcionais */
    /* background-repeat: no-repeat;  // Para evitar a repetição da imagem */
}

a{
    color: black;
}

h1{
    color:blueviolet

}

h2{
    color: blueviolet;
}

