@charset "UTC-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Italianno&family=Satisfy&display=swap');

/*
   # = id
   . = class
   : = pseudo-class
   :: = pseudo-elemment
   > = children

*/

body {
    background-image: linear-gradient(to bottom, rgb(115, 115, 243), rgb(236, 124, 223));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

header {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}

header > h1 {
    color: rgb(74, 32, 113);
    font-family: "Italianno";
    font-size: 4em;
    margin: 0px;
    margin-bottom: 10px;
}

header > p {
    text-indent: 20px;
    margin: 4px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

nav {
    background-color: rgba(181, 151, 178, 0);
    padding: 10px;
    min-width: 280px;
    max-width: 1020px;
    margin: auto;
    display: flex; /* Torna o nav um contêiner flexível */
    justify-content: space-evenly; /* Distribui os links uniformemente */
    flex-wrap: nowrap; /* Impede a quebra de linha */
    gap: 10px; /* Espaço entre os links */
}

nav > a {
    color: rgb(74, 32, 113);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em; /* Ajuste do tamanho da fonte */
    white-space: nowrap; /* Garante que o texto dentro dos links não quebre */
}

@media (max-width: 768px) {
    nav {
        gap: 5px; /* Reduz o espaço entre os links em telas menores */
    }

    nav > a {
        font-size: 0.9em; /* Reduz o tamanho da fonte em telas menores */
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: rgb(74, 32, 113);
    font-family: "Italianno";
    font-size: 3em;
}

main {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}

main > h2 {
    margin: 0px;
}

main > img {
    max-width: 300px;
    display: block;
    margin: auto;
}

/* Estilo das divs com imagens */
#q1 {
    background-image: url(imagens/primeiro_post.png);
}

#q2 {
    background-image: url(imagens/segundo_post.png);
}

#q3 {
    background-image: url(imagens/terceiro_post.png);
}

#q1, #q2, #q3 {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    margin: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    #q1, #q2, #q3 {
        display: block;
        margin: 10px auto;
        max-width: 90%;
    }
}

