@charset "UTC-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Italianno&family=Satisfy&display=swap');

/*
   em HTML é id = em CSS é # (só pode um elemento)
   em HTML é class = em CSS é . (pode varios elementods
*/


body{
    background-image: linear-gradient(to bottom, rgb(115, 115, 243), rgb(236, 124, 223));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

/* Estilo para o texto nas páginas específicas */
.pagina03 h2 {
    color: white; /* Define a cor do texto como branco */
}

.pagina03 a {
    color: white;
}

/* Estilo para a página específica */
.pagina03 {
    background-color: rgb(255, 255, 255);
    background-image: url(imagens/redes.socias.jpg);
    background-size: cover; /* Para cobrir todo o espaço disponível */
    background-position: center; /* Para centralizar a imagem */
    background-attachment: fixed;  /* Para fixar a imagem no lugar enquanto você rola a página
    /* Outras propriedades opcionais */
    /* background-repeat: no-repeat;  // Para evitar a repetição da imagem */
}

header{
    background-color: rgba(228, 126, 220, 0.508);
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}

header> h1{

    color: rgb(74, 32, 113);
    font-family: "Italianno";
    font-size: 4em;
    margin: 0px;
    margin-bottom: 10px;
}

header> p{
    text-indent: 20px;
    margin: 4px;
    font-size: 0.9em;
    margin-bottom: 10px;
    
}
a{
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h2{
    color: rgb(74, 32, 113);
    font-family: "Italianno";
    font-size: 3em;
}

main{
    background-color: rgba(228, 126, 220, 0.508);
    padding: 20px;
    border-radius: 10px;

    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}

main > h2{
    margin: 0px;
}

main > img{
    width: 50%;
    display: block;
    margin: auto;
}

nav{
    background-color:rgba(144, 75, 138, 0.508);
    padding: 5px;
    border-radius: 10px;
    
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}

nav > a{
    color: rgb(74, 32, 113);
    padding-left: 90px;
    text-decoration: none;
    font-weight: bold;
}
